<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    
    <p>
        <a href="{{ url_for('pointsDisplay') }}">View Public Club Points Board</a>
    </p>

    <hr/> {# Optional: Add a separator for better visual distinction #}

    <p>
        Please enter your secretary email to continue:
    </p>
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit">Enter</button>
    </form>
</body>
</html>